
.navbar{
    background-color: #D3F0BC;
    width:12%;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    border-right: #006E90 2px solid;
    box-shadow: 5px 0px #cacaca;
    min-width: 200px;
}

.Logo{
    width: 150px;
}


.NavPersonButton{
    font-family: 'Roboto', sans-serif;
    background-color: #D3F0BC;
    color: #006E90;
    padding: 12px;
    /* margin: 2px; */
    /* align-self: center; */
    width: 150px;
    font-size: 15px;
    /* border-radius: 3px; */
    /* box-shadow: 2px 3px#bcd4a7; */
    border: none;
    border-top: #aec999 2px solid;
    border-bottom: #aec999 2px solid;
    margin-bottom:-2px;
    transition:  .4s;
}

.NavPersonButton:hover{
    font-family: 'Roboto', sans-serif;
    background-color: #41BBD9;
    color: white;
    padding: 15px;
    /* margin: 2px; */
    /* align-self: center; */
    width: 150px;
    font-size: 15px;
    /* border-radius: 3px; */
    /* box-shadow: 2px 3px#bcd4a7; */
    border: none;
    border-top: #aec999 2px solid;
    border-bottom: #aec999 2px solid;
    margin-bottom:-2px;
    transition:  .2s;
}

.LogoutButton{
    font-family: 'Roboto', sans-serif;
    background-color: #D3F0BC;
    color: #4B5158;
    padding: 12px;
    /* margin: 2px; */
    /* align-self: center; */
    width: 150px;
    font-size: 15px;
    /* border-radius: 3px; */
    /* box-shadow: 2px 3px#bcd4a7; */
    border: none;
    border-top: #aec999 2px solid;
    border-bottom: #aec999 2px solid;
    margin-bottom:-2px;
    transition:  .4s;
}

.LogoutButton:hover{
    font-family: 'Roboto', sans-serif;
    background-color: #eb635a;
    color: white;
    padding: 15px;
    /* margin: 2px; */
    /* align-self: center; */
    width: 150px;
    font-size: 15px;
    /* border-radius: 3px; */
    /* box-shadow: 2px 3px#bcd4a7; */
    border: none;
    border-top: #aec999 2px solid;
    border-bottom: #aec999 2px solid;
    margin-bottom:-2px;
    transition:  .2s;
}

.AddChildButton{
    font-family: 'Roboto', sans-serif;
    background-color: #D3F0BC;
    color: #4B5158;
    padding: 12px;
    /* margin: 2px; */
    /* align-self: center; */
    width: 150px;
    font-size: 15px;
    /* border-radius: 3px; */
    /* box-shadow: 2px 3px#bcd4a7; */
    border: none;
    border-top: #aec999 2px solid;
    border-bottom: #aec999 2px solid;
    margin-bottom:-2px;
    transition:  .4s;    
}

.AddChildButton:hover{
    font-family: 'Roboto', sans-serif;
    background-color: #41BBD9;
    color: white;
    padding: 15px;
    /* margin: 2px; */
    /* align-self: center; */
    width: 150px;
    font-size: 15px;
    /* border-radius: 3px; */
    /* box-shadow: 2px 3px#bcd4a7; */
    border: none;
    border-top: #aec999 2px solid;
    border-bottom: #aec999 2px solid;
    margin-bottom:-2px;
    transition:  .2s;
}

.HomeButton{
    font-family: 'Roboto', sans-serif;
    background-color: #D3F0BC;
    color: #006E90;
    padding: 12px;
    /* margin: 2px; */
    /* align-self: center; */
    width: 150px;
    font-size: 15px;
    /* border-radius: 3px; */
    /* box-shadow: 2px 3px#bcd4a7; */
    border: none;
    border-top: #aec999 2px solid;
    border-bottom: #aec999 2px solid;
    margin-bottom:-2px;
    transition:  .4s;
}

.HomeButton:hover{
    font-family: 'Roboto', sans-serif;
    background-color: #41BBD9;
    color: white;
    padding: 15px;
    /* margin: 2px; */
    /* align-self: center; */
    width: 150px;
    font-size: 15px;
    /* border-radius: 3px; */
    /* box-shadow: 2px 3px#bcd4a7; */
    border: none;
    border-top: #aec999 2px solid;
    border-bottom: #aec999 2px solid;
    margin-bottom:-2px;
    transition:  .2s;
}

.NavButtonsAlign{
    display: flex;
    justify-content: center;
}
.NavHeader{
    color:#006E90;
    margin-top: 30px;
}

/* .ActiveLink{
    color:red;
} */







