
.navbar{
    background-color: #D3F0BC;
    width:12%;
    display: flex;
    flex-direction: column;
    padding-left: 5px;
    border-right: #006E90 2px solid;
    box-shadow: 5px 0px #cacaca;
}

.Logo{
    width: 150px;
}


.NavPersonButton{
    font-family: 'Roboto', sans-serif;
    background-color: #41BBD9;
    padding: 12px;
    margin: 2px;
    align-self: center;
    width: 100px;
    font-size: 15px;
    border-radius: 3px;
    box-shadow: 2px 3px#bcd4a7;
    border: #4e9eb3 1px solid;
}

.NavPersonButton:hover{

}

.LogoutButton{
    background-color: #B8B8B8;
    border: none;
    padding: 12px;
    padding-left: 10px;
    margin: 2px;
    /* margin-left: 10px; */
    width: 80%;
    font-size: 15px;
    /* text-align: left; */
    border-radius: 2px 10px 10px 2px;
}

.AddChildButton{
    background-color: #41BBD9;
    border: none;
    padding: 12px;
    padding-left: 10px;
    margin: 2px;
    width: 80%;
    font-size: 15px;
    /* text-align: left; */
    border-radius: 2px 10px 10px 2px;
}

.HomeButton{
    background-color: #B8B8B8;
    border: none;
    padding: 12px;
    padding-left: 10px;
    margin: 2px;
    width: 80%;
    font-size: 15px;
    /* text-align: left; */
    border-radius: 2px 10px 10px 2px;
}

.NavButtonsAlign{
    display: flex;
    justify-content: center;
}
.NavHeader{
    color:#006E90;
}











